/*Comments*/

/*Element Selector*/
/*all the h1 then will take the value undertneath*/

h1{
    color: purple; 
    text-decoration: underline;
}

header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    width: 50%;
    color: chartreuse;
    font-size: 20px;
    background-color: tomato;
    padding: 10px 2px 30px 5px; /*(Top right bottom left) 20px bottom and top and 5px left and right*/
    margin: 30px;
    border: 2px solid black;
    border-radius: 5px;
}

@media (max-width: 600px) {
    p { 
        color: green; 
        font-size: 50px;
    }
}

/*Universal Selectors*/
*{color: red;}

.subtitle {color: skyblue}

h3:hover {
    text-decoration: underline;
    color: red;
}


#msg {color:green}

#manish {color: brown;}

html, body {
    margin: 0; 
    padding: 0;
    font-family: 'Grechen Fuemen', cursive;
    scroll-behavior: smooth;
}

button {
    color: cornsilk;
    background-color: darkblue;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 10px 20px 20px green;
}

button.hover {
    box-shadow:  10px 20px 20px rgb(97. 96, 96);
}

@media (max-width: 600px) {
    button a { 
        color: yellow; 
        font-size: 50px;
    }
}

.icon {
    font-size: 30px;
    color: coral;
}

items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.figma-video {
    animation-name: manish;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes manish {
    from {
        margin-right: 600px;
    margin-top: 500px;} 
    to {margin-right: 10px;
    margin-top: 0px;} 
} 

.middle {
    display: flex;
    flex-direction: column
}