/*Comments*/

/*Element Selector*/
/*all the h1 then will take the value undertneath*/

h1{
    color: purple; 
    text-decoration: underline;
}

header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    width: 50%;
    color: chartreuse;
    font-size: 20px;
    background-color: tomato;
    padding: 10px 2px 30px 5px; /*(Top right bottom left) 20px bottom and top and 5px left and right*/
    margin: 30px;
    border: 2px solid black;
    border-radius: 5px;
}

/*Universal Selectors*/
*{color: red;}

.subtitle {color: skyblue}

h3:hover {
    text-decoration: underline;
    color: red;
}


#msg {color:green}

#manish {color: brown;}

html, body {
    margin: 0; 
    padding: 0;
    font-family: 'Grechen Fuemen', cursive;
    scroll-behavior: smooth;
}

button {
    color: cornsilk;
    background-color: darkblue;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.icon {
    font-size: 30px;
    color: coral;
}